<h1><%=@user.name%></h1>

<p><%=@user.following.count%> following</p>
<p><%=@user.followers.count%> followers</p>

<h2><%=@user.name%>'s posts</h2>

<% @posts.each do |post|%>
    <%= render 'post',{post: post}%>
<%end%>
