<!DOCTYPE html>
<html>
  <head>
    <title>ProjectFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <style>
    body{
      color: #fefae0;
      background-color: #264653;
    }
    a{
      color: #283618;
      text-decoration: none;

      padding: 2px 7px;
      background-color: #2A9D8F;
      border-radius: 7px;
      border: 2px solid #E9C46A;
    }
    
    a:visited{
      color: #283618;
    }
    a:hover{
      background-color: #264653;
      border-color: #E76F51;
      color:#2A9D8F;
    }
    
  </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
