<!DOCTYPE html>
<html>
  <head>
    <title>ProjectFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <style>
    body{
      color: white;
      background-color: #001B2B;
    }
    a{
      color: #A61651;
      text-decoration: none;
    }
    a:visited{
      color: #A61651;
    }
  </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
